@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    header > i.material-icons {
        display: none;
    }
    body > header > nav {
        display: inline-block;
        margin-left: 250px;
        margin-top: 0px;
    }
    body > header > nav > a {
        border: none;
    }
}